# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  batch: true
  branches:
    include:
    - master

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - docs/src/main/asciidoc/*
      - docs/src/main/asciidoc/images/*
      - README.md
      - CONTRIBUTING.md
      - LICENSE.txt
      - dco.txt

jobs:
- job: Build_Native_Linux
  timeoutInMinutes: 150
  pool:
    vmImage: 'Ubuntu 16.04'

  variables:
    imageName: 'quarkus:$(build.buildId)'

  steps:

  - bash: 'mvn clean install -DskipTests -Dinvoker.skip=true -B --settings azure-mvn-settings.xml -Dno-format && cd integration-tests/camel-core && mvn clean verify -Dnative -Dnative-image.docker-build -B --settings azure-mvn-settings.xml -Dnative-image.xmx=6g -Dno-format'
    displayName: 'bash'
